<nav>
    <ul>
        <li>
            <a href = "/">Home</a>
        </li>
        <li>
            <a href = "{%url 'projects'%}">Projects</a>
        </li>
        <li>
            <a href = "{%url 'tasks'%}">Task</a>
        </li>
        <li>
            <a href = "{%url 'about'%}">About</a>
        </li>
        <li>
            <a href = "{%url 'create_task'%}">Create task</a>
        </li>
        <li>
            <a href = "{%url 'create_project'%}">Create Project</a>
        </li>
    </ul>
</nav>

{% block content %}   
{% endblock  %}