<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Django CRUD aplication</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item">
                        <a href="/" >Home</a>
                    </li>
                    
                    
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="/tasks" class="nav-link">Tasks Pending</a>
                    </li>
                    <li class="nav-item">
                        <a href="/tasks_completed" class="nav-link">Tasks completed</a>
                    </li>
                    <li class="nav-item">
                        <a href="/tasks/create/" class="nav-link">Create task</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>   
                    {% else %}
                    <li class="nav-item">
                        <a href="/signup/" class="nav-link">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a href="/signin" class="nav-link">Signin</a>
                    </li>
                    {% endif %}
                </ul>
              </div>
            </div>
          </nav>
        
        {% block content %}
        {% endblock %}
        
        <script src="" async defer></script>
    </body>
</html>