{% extends 'base.html' %}

{% block content %}
    <h1>Task</h1>

    <ul>

        {% for task in tasks %}
        <li> 
            {% if task.important %}
                <strong>Title:{{task.title}}</strong> 
            {% else %}
                {{task.title}}
            {% endif %}
            <p><b>Description:</b> {{task.description}}</p>
            <p><b>User:</b> {{task.user.username}}</p>
            <p><b>Is important?:</b> {{task.important}}</p>

        </li>
        {% endfor %}
    </ul>

{% endblock %}